* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav {
  background-color: rgb(135, 117, 216);
  padding: 20px 45px;
  color: white;
}

.wrapper {
  /* border: 6px solid black; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrapper .container {
  width: 800px;
  padding: 16px 20px;
  background-color: rgb(220, 229, 241);
  border-radius: 10px;
  margin: 16px 0;
  display: flex;
  flex-direction: column;
  /* flex-grow: 1; */
}

.align-item {
  align-items: center;
}

.container-header {
  margin-top: 16px;
  margin-bottom: 20px;
}

.shadow {
  box-shadow: 0px 3px 10px rgb(175, 175, 175);
}
.item {
  background-color: white;
  margin-bottom: 14px;
  padding: 13px 22px;
  border-radius: 10px;
}
.mt-2px {
  margin-top: 2px;
}

.text-center {
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  padding: 16px;
  width: 98%;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin: 12px 0;
}
.form-group-check {
  display: flex;
  align-items: center;
  padding-left: 2px;
  margin-top: 3px;
}

.form-group-check p {
  color: rgb(42, 42, 255);
}
.form-group-check input {
  margin-left: 6px;
}
.form-search {
  margin-left: 15px;
  margin-bottom: 10px;
  width: 100%;
}
.form-search .form-groupp {
  display: flex;
  width: 100%;
  align-items: center;
}
.form-group label {
  margin-bottom: 4px;
  font-weight: lighter;
}

#textJudul,
#textPenulis,
#textTahun {
  background-color: rgb(250, 250, 235);
  border: 2px solid rgb(169, 149, 255);
  border-radius: 10px;
  font-size: 16px;
  padding: 13px 16px;
}

#textCari {
  background-color: rgb(250, 250, 235);
  border: 2px solid rgb(169, 149, 255);
  border-radius: 10px;
  font-size: 16px;
  padding: 13px 16px;
  width: 600px;
}
#textJudul,
#textPenulis,
#textTahun,
#textCari:focus {
  outline: none;
}

.btn-submit {
  width: fit-content;
  border: none;
  border: 2px solid rgb(169, 149, 255);
  font-size: 14px;
  border-radius: 10px;
  padding: 14px 12px;
  cursor: pointer;
  align-self: flex-end;
  background-color: white;
  margin-top: auto;
}
.btn-submit:hover {
  color: white;
  background-color: rgb(135, 117, 216);
}

.button-selesai {
  margin: 5px 0;
  padding: 3px 5px;
  border: 1px solid rgb(124, 124, 124);
  color: white;
  border-radius: 4px;
  cursor: pointer;
  background-color: rgb(0, 185, 0);
}
.button-hapus {
  margin: 5px 0;
  margin-left: 6px;
  padding: 3px 5px;
  border: 1px solid rgb(124, 124, 124);
  color: white;
  border-radius: 4px;
  cursor: pointer;
  background-color: rgb(202, 2, 2);
}
.button-selesai:active,
.button-hapus:active {
  border: 1px solid rgb(255, 255, 255);
}

/* responsive */
@media only screen and (max-width: 800px) {
  .wrapper {
    margin: 0;
  }

  .wrapper .container {
    width: 90%;
  }

  .form-search {
    display: flex;
    width: 95%;
    align-items: center;
  }

  .form-search label {
    margin-right: 6px;
  }
  .form-search #cari {
    margin-left: 4px;
  }
}
